<hi>LOGIN</hi>
<form action="/login" method="post">
	<input type="text" name="usernsme" placeholder="username">
	<input type="password" name="password" placeholder="password">
	<button>Login</button>
</form>